// @import '~@fluentui/react/dist/sass/References.scss';

// .carouselbanner {
//   overflow: hidden;
//   padding: 1em;
//   color: "[theme:bodyText, default: #323130]";
//   color: var(--bodyText);
//   &.teams {
//     font-family: $ms-font-family-fallbacks;
//   }
// }

// .welcome {
//   text-align: center;
// }

// .welcomeImage {
//   width: 100%;
//   max-width: 420px;
// }

// .links {
//   a {
//     text-decoration: none;
//     color: "[theme:link, default:#03787c]";
//     color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

//     &:hover {
//       text-decoration: underline;
//       color: "[theme:linkHovered, default: #014446]";
//       color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
//     }
//   }
// }


.content {
  width: 95%;
  margin-left: 16px;
  // border: 2px solid red;
}

.banner {
  width: 99% !important;
  border: 2px solid black;
  background: linear-gradient(91.61deg, rgba(51, 92, 204, 0.04) 0%, rgba(51, 92, 204, 0.13) 101.87%);
  animation: gradientAnimation 5s linear infinite;
  background-size: 200% 100%;
}
.container{
  width: 100%;
  height: 340px;
  // background-color: red;
  // padding: 1rem;
  position: relative;
  overflow: hidden;
  background:linear-gradient(91.61deg, rgba(51, 92, 204, 0.04) 0%, rgba(51, 92, 204, 0.13) 101.87%);
}

// .rectangleBox {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100px;
//   height: 50px;
//   background-color: white;
//   transform: rotate(-45deg);
//   transform-origin: bottom left;
//   animation: rotateRectangle 5s linear infinite;
// }

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// @keyframes rotateAnimation {
//   0% {
//     transform: rotate(-45deg);
//   }
//   100% {
//     transform: rotate(135deg);
//   }
// }

.textStyle {
  width: 100%;
  display: flex !important;
  // justify-content: space-around;
  // flex-wrap: wrap;
}


.child {
  width: 531px;
  height: 352px;
  background: linear-gradient(243.55deg, #335CCC -1.19%, rgba(217, 217, 217, 0) 85.83%);  rotate: 50deg;
  opacity: 15%;
  top: 187px;
  left:-191px;
  rotate:13deg;
  border-radius: 33px;
  position: absolute;
  bottom: 0;
  animation: rotateChild 20s linear infinite; /* Add rotation animation */

}

.child2 {
  width: 531px;
  height:352px;
  // background-color: yellow;
  background: linear-gradient(243.55deg, #335CCC -1.19%, rgba(217, 217, 217, 0) 85.83%);
  opacity: 15%;
  rotate: -85deg;
  left:800px;
  top:-320px;
  border-radius: 33px;
  position: absolute;
  animation: rotateChild2 20s linear infinite; /* Add rotation animation */

}

@keyframes rotateChild {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateChild2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card{
width: 123px;
height: 103px;
top: 31px;
left: 598px;
border-radius: 6px;
background: #FFFFFF7D;
box-shadow: 3px 0px 8.399999618530273px 0px #80808040;
// flex-basis: 45%;
// flex-basis: 32%;
margin-bottom: 13px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap:3%;
  justify-content: flex-start;
  // margin-left: 100px;
  width: 75%;
}


.Elevatedivstyle{
  width: 59%;
  // margin-left: 20px;
  margin-top: 15px;
}
.ElevateText{
  font-family: Segoe UI;
  font-size:  20px;
  font-weight: 600;
  margin:0px;
  margin-top: 50px;
  margin-left: 70px;
}
.ProductivityText{
  font-family: Segoe UI;
  font-size:  28px;
  font-weight: 700;
  margin: 0px;
  // margin-left: 25px;
  margin-left: 70px;

  color: #335CCC;

}
.carddiv{
  width: 40%;
  margin-left: 100px;
  // margin-top: 25px;
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;

}

.inputstyle{
  border-radius: 5px;
  border: 2px solid;
}


.nextArrow{
  position: absolute;
  top: 50%;
  // left: 10px;
  margin-left: 1rem;
  background: transparent !important;
  z-index: 10;
}
.prevArrow{
  position: absolute;
  // left: 747px;
  // left: 1130px;
  // margin-left: 20rem;
  right: 1rem;
  top: 50%;
  background: transparent !important;
  z-index: 10;
}
.NoDataedit{
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
}
.Imageedit{
  width:40px;
  height:40px;
  margin-left: 42px;
  margin-top: 16px;
}
.cardText{
font-family: Segoe UI;
font-size: 12px;
font-weight: 600;
line-height: 10px;
letter-spacing: 0em;
// text-align: left;
// margin-left: 45px;
text-align: center;
}

.labelmargin{
  margin:0px;
}

.Urllabelmargin{
  margin:0px;
  margin-top: 20px;
}

.Nocontentlabelmargin{
  margin:0px;
}

.NocontentUrllabelmargin{
  margin:0px;
  margin-top: 20px;
}

.editdiv{
margin-top: 20px;
text-align: center;
}
.ManageText{
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

.Editbutton{
  background: transparent;
  margin-left: 12px;
  height: 26px;
  width: 10px;
  display: flex;
  justify-content: center;

}